:root {
  --text_light: #fff;
  --text_med: #086117;
  --text_dark: #0faa29;
  --blue: #1699b9;
  --darkred: #04596e;
  --orange: #ff8c00;
}
button {
  background-color: rgb(8, 168, 168);
  border-radius: 10px 5px;
  padding: 15px 25px;
  color: white;
}
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}
ul {
  list-style: none;
}

body {
  background-image: url("sky.jpeg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 70px;
}
/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-section {
  color: var(--text_light);
}

.heading {
  font-size: 3rem;
  text-shadow: black;
}

.header-section form {
  position: sticky;
}

.header-section form input::placeholder {
  color: currentColor;
}
.header-section form button:hover {
  background: var(--darkred);
}
.header-section form .msg {
  position: absolute; /*show below the input*/
  bottom: -40px;
  left: 0;
}

/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.result-section {
  margin: 70px 0;
}
.result-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.result-section .city {
  position: relative;
  padding: 30px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}
.result-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.result-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}
.result-section .city sup {
  font-size: 0.6em;
}
.result-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}
/* For responsive loading */
@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }

  .result-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .result-section .city-temp {
    font-size: 3rem;
  }

  .result-section {
    margin-top: 20px;
  }

  .header-section form {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section form input,
  .header-section form button {
    width: 100%;
  }

  .header-section form button {
    margin: 20px 0 0 0;
  }

  .header-section form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }

  .result-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }

  .result-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}
